Source: ros-kinetic-nextage-ros-bridge
Section: misc
Priority: extra
Maintainer: TORK <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-hironx-ros-bridge (>= 1.1.13), ros-kinetic-nextage-description, ros-kinetic-roslint, ros-kinetic-rostest
Homepage: http://ros.org/wiki/nextage_ros_bridge
Standards-Version: 3.9.2

Package: ros-kinetic-nextage-ros-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-hironx-ros-bridge (>= 1.1.13), ros-kinetic-nextage-description, ros-kinetic-stereo-image-proc, ros-kinetic-ueye-cam
Description: A main ROS interface for developers and users of Nextage dual-armed robot from Kawada Robotics Inc.
 Developers can build their own application that takes control over Nextage via this package. Interface for both ROS and OpenRTM is provided.
